@model Chat.AdminWeb.Models.AdminManager.AddAdminUserViewModel
@{
    ViewBag.Title = "新增管理员";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainpanel">
    <div class="contentpanel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>账号设置</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">登录名:</label>
                        <div class="col-sm-6">
                            <input type="text" id="name" placeholder="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">初始登录密码:</label>
                        <div class="col-sm-6">
                            <input type="password" id="password" placeholder="" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>权限设置</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">管理员等级:</label>
                        <div class="col-sm-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="manager" id="manager1" value="option1" checked="checked" >厅级管理员（在培训活动管理-报名管理中，拥有全部功能操作权限）
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="manager" id="manager2" value="option2">市级管理员（在培训活动管理-报名管理-按市级表格导入时，只能导入所在市，且不能导出汇总表格）
                                </label>
                            </div>
                            <select id="cityId" class="form-control" style="width: 200px;">
                                <option value="">选择所属市级</option>
                                @foreach (var role in Model.Citys)
                                {
                                    <option value="@role.Id">@role.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <hr />
                    <style type="text/css">
                        .limit-checkbox {
                            border-bottom: 1px solid #eee;
                        }

                        .limit-checkbox-two {
                            padding-left: 30px;
                        }
                    </style>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">权限设置:</label>
                        <div class="col-sm-6" style="border: 1px solid #eee; padding: 10px 20px 20px;">
                            <div class="limit-checkbox">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">答题管理
                                    </label>
                                </div>
                                <div class="limit-checkbox-two">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">考卷管理
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">答题活动管理
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="limit-checkbox">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">培训管理
                                    </label>
                                </div>
                                <div class="limit-checkbox-two">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">培训管理
                                        </label>
                                    </div>
                                    <div class="limit-checkbox-two">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">报名管理
                                            </label>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="limit-checkbox">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">用户管理
                                    </label>
                                </div>
                                <div class="limit-checkbox-two">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">用户管理
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="limit-checkbox">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">系统设置
                                    </label>
                                </div>
                                <div class="limit-checkbox-two">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">系统日志
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">后台用户管理
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="text-align:center">
                <button class="btn btn-primary mr5">确定</button>
                <button class="btn btn-default">返回</button>
            </div>
        </div>
    </div><!-- contentpanel -->
</div><!-- mainpanel -->
            </div><!-- mainwrapper -->
        </section>
@section FooterScript
{
    <script type="text/javascript">
        $(function () {

            $("#city").change(function () {
                $("#cityManager").val($(this).val());
                $("#cityManager").attr("checked", "checked");
            });

            $("#btnSave").live("click", function () {
                if ($("input[name='manager']:checked").val() == 'on' || $("input[name='manager']:checked").val() == 'selectCity')
                {
                    alert("请选择所属市级");
                    return;
                }
                var role = $("input[name='manager']:checked").val();
                $.ajax({
                    url: "/home/add", type: "post", data: { role: role },
                    success: function (result) {
                        if (result.status == "error")
                        {
                            alert(result.errorMsg);
                        }
                        else if (result.status == "success")
                        {
                            alert("添加成功！");
                            window.location.href = "/testpaper/list";
                        }
                        else {
                            alert("未知错误");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
        });
    </script>
}
