<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetPicAdminUrl</title>
</head>
<body>
    <div> 
        <input type="text" id="value" /><button id="btnSave">保存</button>
    </div>
</body>
</html>
